In [2]:
import pandas as pd
import numpy as np

In [27]:
# Load the data

df = pd.read_csv('Data/processed/processed.csv')

In [3]:
df.head()

,E_0,E_1,E_10,E_100,E_101,E_102,E_103,E_104,E_105,E_106,...,E_93,E_94,E_95,E_96,E_97,E_98,E_99,age,sex,pathology
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,55,0,Anemia
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,0,Panic attack
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,68,0,Influenza
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,13,1,Anemia
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,48,1,Boerhaave

In [22]:
#calulate the percentage of each pathology

df['pathology'].value_counts(normalize=True)

pathology
URTI                                        0.064859
Viral pharyngitis                           0.063064
Anemia                                      0.051660
HIV (initial infection)                     0.028898
Pulmonary embolism                          0.028000
Anaphylaxis                                 0.027970
Localized edema                             0.027709
Influenza                                   0.026927
Bronchitis                                  0.026444
Pneumonia                                   0.026045
Acute otitis media                          0.025838
GERD                                        0.025646
Acute laryngitis                            0.025569
Panic attack                                0.024825
Acute dystonic reactions                    0.024580
Pericarditis                                0.023253
Possible NSTEMI / STEMI                     0.022571
Sarcoidosis                                 0.022502
Cluster headache                            0.021788
Unstable angina                             0.021075
Chronic rhinosinusitis                      0.020837
Inguinal hernia                             0.020047
Pancreatic neoplasm                         0.019802
Atrial fibrillation                         0.019495
Guillain-Barré syndrome                     0.019296
Acute pulmonary edema                       0.019173
PSVT                                        0.018122
Stable angina                               0.017946
Bronchiectasis                              0.017785
Scombroid food poisoning                    0.016819
Epiglottitis                                0.016658
Bronchospasm / acute asthma exacerbation    0.016604
Myasthenia gravis                           0.016159
Allergic sinusitis                          0.016151
Acute COPD exacerbation / infection         0.015921
Boerhaave                                   0.015914
Tuberculosis                                0.014986
Pulmonary neoplasm                          0.014503
Acute rhinosinusitis                        0.014311
SLE                                         0.011719
Myocarditis                                 0.011604
Spontaneous pneumothorax                    0.010775
Chagas                                      0.008475
Spontaneous rib fracture                    0.005997
Larygospasm                                 0.005062
Whooping cough                              0.004118
Croup                                       0.001741
Ebola                                       0.000675
Bronchiolitis                               0.000084
Name: proportion, dtype: float64

In [23]:
# drop age, sex and pathology columns

df = df.drop(['age', 'sex', 'pathology'], axis=1)

In [5]:
df.head()

,E_0,E_1,E_10,E_100,E_101,E_102,E_103,E_104,E_105,E_106,...,E_90,E_91,E_92,E_93,E_94,E_95,E_96,E_97,E_98,E_99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Calculate density
density = df.mean(axis=0).mean()
density

0.06171259378441378

In [7]:
# Calculate support
support = (df != 0).any(axis=0).sum()
support

223

In [8]:
# Calculate sparsity level per feature
sparsity_per_feature = (1 - df.mean(axis=0)) * 100
print(f"Sparsity level per feature:\n{sparsity_per_feature.to_string()}")

Sparsity level per feature:
E_0      96.150041
E_1      98.621070
E_10     98.427806
E_100    99.154083
E_101    98.845779
E_102    99.325107
E_103    97.155479
E_104    91.863702
E_105    92.238728
E_106    94.311724
E_107    98.460016
E_108    98.327339
E_109    96.576451
E_11     99.896465
E_110    98.272887
E_111    98.131006
E_112    99.772224
E_113    96.126266
E_114    98.566619
E_115    97.925470
E_116    94.544102
E_118    94.284115
E_119    98.787493
E_12     97.758281
E_120    96.801160
E_121    97.568084
E_123    92.935095
E_124    87.931682
E_125    95.991288
E_126    98.111066
E_127    98.700064
E_128    98.524438
E_129    83.357747
E_13     98.550513
E_130    83.357747
E_131    97.411631
E_132    79.927296
E_133    83.357747
E_134    81.099156
E_135    85.946116
E_136    79.927296
E_137    97.942343
E_138    98.315835
E_139    98.719237
E_14     98.016734
E_140    96.127033
E_141    99.615771
E_142    99.993865
E_143    97.439240
E_144    90.689541
E_145    98.849614
E_146    95.894655
E_147    98.281323
E_148    89.312146
E_149    98.315068
E_15     98.301263
E_150    98.961585
E_151    90.031521
E_152    90.032288
E_153    99.545214
E_154    96.883987
E_155    92.223390
E_156    98.929374
E_157    96.651609
E_158    98.474588
E_159    96.429201
E_16     97.115598
E_160    98.814335
E_161    94.275679
E_162    94.823262
E_163    99.026006
E_164    98.509100
E_165    99.269888
E_166    99.591229
E_167    97.383255
E_168    98.355715
E_169    98.727673
E_17     99.805968
E_170    98.873389
E_171    98.196961
E_172    97.397060
E_173    98.109532
E_174    99.537545
E_175    95.821798
E_176    97.950779
E_177    97.542775
E_178    99.940180
E_179    96.888589
E_18     98.611867
E_180    98.561250
E_181    80.372112
E_182    97.455346
E_183    99.993865
E_184    98.356482
E_185    98.218435
E_186    98.371053
E_187    98.326572
E_188    98.577356
E_189    97.913966
E_19     98.659417
E_190    98.655582
E_191    97.492925
E_192    98.439309
E_193    98.400963
E_194    96.381652
E_195    99.995398
E_196    96.034235
E_197    98.150946
E_198    97.709965
E_199    99.133376
E_2      97.625603
E_20     98.825839
E_200    99.037510
E_201    69.010131
E_202    99.881894
E_203    97.912433
E_204    92.193480
E_205    98.405565
E_206    99.207767
E_207    98.121036
E_208    93.407520
E_209    94.456673
E_21     99.097330
E_210    98.025937
E_211    98.726139
E_212    96.530435
E_213    98.940878
E_214    93.083878
E_215    98.072720
E_216    99.401032
E_217    94.491951
E_218    93.013321
E_219    96.844107
E_22     96.822633
E_220    93.394483
E_221    98.816636
E_222    93.436664
E_223    98.496829
E_224    99.005299
E_225    95.626232
E_226    93.018690
E_227    93.480378
E_23     99.996165
E_24     95.967513
E_25     98.178555
E_26     96.311095
E_27     97.931606
E_28     98.971555
E_29     98.630274
E_3      97.363315
E_30     98.756816
E_31     97.509797
E_32     99.996932
E_33     98.973089
E_34     98.126404
E_35     98.986893
E_37     99.588929
E_38     98.933976
E_39     99.949383
E_4      99.873458
E_40     99.750750
E_41     90.646594
E_42     97.830372
E_43     98.723838
E_44     97.387857
E_45     89.957896
E_46     98.752214
E_47     98.832742
E_48     89.822150
E_49     89.954828
E_5      98.442377
E_50     87.074261
E_51     94.119993
E_52     98.840411
E_53     19.920853
E_54     19.920853
E_55     19.920853
E_56     18.947627
E_57     77.635726
E_58     18.947627
E_59     18.947627
E_6      98.755282
E_60     98.933976
E_61     97.400894
E_62     96.023499
E_63     98.841178
E_64     99.295964
E_65     97.596460
E_66     61.266498
E_67     98.552047
E_69     90.868235
E_7      96.110161
E_70     89.031452
E_71     95.519629
E_72     98.857283
E_73     99.938646
E_74     98.800531
E_75     98.640244
E_76     94.250370
E_77     90.352862
E_78     88.165594
E_79     71.157519
E_8      98.537476
E_80     98.183924
E_81     98.125638
E_82     90.961033
E_83     98.798997
E_84     97.600294
E_86     98.970021
E_87     98.104164
E_88     92.772507
E_89     90.708715
E_9      95.818730
E_90     99.206234
E_91     78.388846
E_92     98.338842
E_93     98.854215
E_94     96.434570
E_95     98.326572
E_96     98.328105
E_97     90.537690
E_98     98.229172
E_99     98.625672

In [16]:
corr_matrix = df.corr(method='spearman')

In [18]:
threshold = 0.8

high_corr = []
for i in range(len(corr_matrix)):
    for j in range(i + 1, len(corr_matrix)):
        if abs(corr_matrix.iloc[i, j]) > threshold:
            high_corr.append((corr_matrix.index[i], corr_matrix.index[j], corr_matrix.iloc[i, j]))

print("Features with correlation equal to", threshold, ":")
for feature1, feature2, correlation in high_corr:
    print(f"{feature1}, {feature2} - Correlation: {correlation:.4f}")

Features with correlation equal to 0.8 :
E_103, E_120 - Correlation: 0.8558
E_120, E_182 - Correlation: 0.8020
E_129, E_132 - Correlation: 0.8916
E_129, E_134 - Correlation: 0.8477
E_129, E_135 - Correlation: 0.9050
E_132, E_134 - Correlation: 0.9633
E_132, E_135 - Correlation: 0.8069
E_153, E_216 - Correlation: 0.8693
E_178, E_39 - Correlation: 0.8083
E_178, E_73 - Correlation: 0.8861
E_187, E_92 - Correlation: 0.9921
E_216, E_37 - Correlation: 0.8261
E_39, E_73 - Correlation: 0.8119

In [36]:
dropped_features = ['E_152', 'E_130', 'E_133', 'E_54', 'E_55', 'E_56', 
                    'E_58', 'E_59', 'E_136']

In [34]:
df = pd.read_csv('Data/processed/processed.csv')
df = df.drop(dropped_features, axis=1)
df.to_csv('Data/processed/processed+features.csv', index=False)

In [35]:
df.shape

(130391, 217)