In [60]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/processed/processed.csv')

In [3]:
df.head()

,E_0,E_1,E_10,E_100,E_101,E_102,E_103,E_104,E_105,E_106,...,E_93,E_94,E_95,E_96,E_97,E_98,E_99,age,sex,pathology
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,55,0,Anemia
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,0,Panic attack
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,68,0,Influenza
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,13,1,Anemia
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,48,1,Boerhaave

In [5]:
df.describe()

,E_0,E_1,E_10,E_100,E_101,E_102,E_103,E_104,E_105,E_106,...,E_92,E_93,E_94,E_95,E_96,E_97,E_98,E_99,age,sex
count,130391.0000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,...,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000,130391.000000
mean,0.0385,0.013789,0.015722,0.008459,0.011542,0.006749,0.028445,0.081363,0.077613,0.056883,...,0.016612,0.011458,0.035654,0.016734,0.016719,0.094623,0.017708,0.013743,40.428028,0.485501
std,0.1924,0.116616,0.124398,0.091584,0.106813,0.081875,0.166242,0.273393,0.267562,0.231619,...,0.127811,0.106427,0.185427,0.128275,0.128217,0.292695,0.131889,0.116424,22.356481,0.499792
min,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,0.000000
50%,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,39.000000,0.000000
75%,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,57.000000,1.000000
max,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,109.000000,1.000000

In [23]:
y = df['pathology']
X = df.drop('pathology', axis=1)

X.head(), y.head()

(   E_0  E_1  E_10  E_100  E_101  E_102  E_103  E_104  E_105  E_106  ...  E_92  \
 0    0    0     0      0      0      0      0      0      0      0  ...     0
 1    0    0     0      0      0      0      0      0      0      0  ...     0
 2    0    0     0      0      0      0      0      0      0      0  ...     0
 3    0    0     0      0      0      0      0      0      0      0  ...     0
 4    0    0     0      0      0      0      0      0      0      0  ...     0

    E_93  E_94  E_95  E_96  E_97  E_98  E_99  age  sex
 0     0     0     0     0     0     0     0   55    0
 1     0     0     0     0     0     0     0   10    0
 2     0     1     0     0     0     0     0   68    0
 3     0     0     0     0     0     0     0   13    1
 4     0     0     0     0     0     0     0   48    1

 [5 rows x 225 columns],
 0          Anemia
 1    Panic attack
 2       Influenza
 3          Anemia
 4       Boerhaave
 Name: pathology, dtype: object)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [53]:
le = LabelEncoder()
y = le.fit_transform(y)
y

array([ 8, 32, 24, ..., 21, 20, 29], dtype=int64)

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((104312, 225), (26079, 225), (104312,), (26079,))

In [55]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index, test_index in sss.split(X, y):
    strat_X_train, strat_X_test = X.iloc[train_index], X.iloc[test_index]
    strat_y_train, strat_y_test = y[train_index], y[test_index]

strat_X_train.shape, strat_X_test.shape, strat_y_train.shape, strat_y_test.shape

((104312, 225), (26079, 225), (104312,), (26079,))

In [ ]:
def cat_proportions(data):
    return data["pathology"].value_counts() / len(data)

compare_props = pd.DataFrame({
    "Overall": df['pathology'].value_counts() / len(df),
    "Stratified": strat_y_test.value_counts() / len(strat_y_test),
    "Random": y_train.value_counts() / len(y_train),
}).sort_index()
compare_props["Rand. %error"] = abs(100 * compare_props["Random"] / compare_props["Overall"] - 100)
compare_props["Strat. %error"] = abs(100 * compare_props["Stratified"] / compare_props["Overall"] - 100)
compare_props["Diff"] = (compare_props["Stratified"] - compare_props["Random"])*100

compare_props

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
dt = DecisionTreeClassifier(random_state=42)

dt.fit(strat_X_train, strat_y_train)

DecisionTreeClassifier(random_state=42)

In [58]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [66]:
preds = dt.predict(strat_X_test)
mse = mean_squared_error(strat_y_test, preds)
mse

2.970819433260478

In [72]:
cval = cross_val_score(dt, strat_X_train, strat_y_train, cv=5, scoring='accuracy')
cval = cval.mean()
cval

0.986674580574139

In [65]:
acc_score = accuracy_score(strat_y_test, preds)
acc_score = round(acc_score*100, 2)
acc_score

98.82